@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?xr833s');
  src:  url('../fonts/icomoon.eot?xr833s#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?xr833s') format('truetype'),
    url('../fonts/icomoon.woff?xr833s') format('woff'),
    url('../fonts/icomoon.svg?xr833s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle-up:before {
  content: "\ea41";
}
