html,body{ font-family:Lato; background-color:#E9EBEE;color:#3C4858;}
.container-fluid{ /*background-color:#FFFFFF;*/}
    .hide {
    display: none!important;
    font-size:14px !important;
}
a{ text-decoration:none !important;}
.contain-grapics{background-color:#EEEEEE; width:99.5%; padding:0; border-radius: 7px;}
.highcharts-root{ border-radius:7px;font-family:Lato !important;}
.card {
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}
.card:hover {
	box-shadow: 0 16px 26px 0 rgba(198,198,200,0.8), 0 3px 6px 0 rgba(198,198,198,0.2);
}
#daterange-btn {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    width: 210px;
    float:right!important;
    font-size: 0.86rem;
    padding-left: 2px;
    padding-right: 1px;
}
.content{  margin:0 auto;}

.modaldiv {
  border: 1px solid #DFE3E9 !important;
}
table {
    font-size: 13px;
}
.table-sm{ background-color:#FFF;}
.dropdown-menu {
    min-width: 12rem;
}
.input-group a,.input-group a:hover {
    color: #000 !important;
}
.multiselect  {
    background-color: #fff !important;
    border:1px solid #CCC;
}
.multiselect-container>li>a>label {
    padding: 3px 20px 3px 15px;
}
.container-fluid label, .container-fluid p, .container-fluid .form-control, .container-fluid .multiselect-selected-text{ font-size:14px; color:#646464; font-weight: 500;}
.bg-light{ 
    background-color:#FFF !important;    
    /*padding: 20px;*/
    letter-spacing: -0.0125em; 
    color:#3c9adc !important;     
    font-size: 25px;
    font-weight: 600;
    line-height: 2.5rem;
    }
    .nameFacebookPage{color:#4A596C; margin-left:5px; }
    .ssgtitle{ font-size:2rem; font-weight:bold; padding-right:10px;padding-left: 19px; color:#FFFFFF !important;}
    .form-control {
     display: block;
     width: auto !important;
     padding: 5px; }
     .modal-header{ padding: .6rem; background-color:#F5F7F8;}
  .modal-body {
    padding: 1.5rem;}
    .modaldiv{ position:relative; left:-2px;font-size:14px !important;}
    #grafica1 .highcharts-tooltip>span {
    width:100%;
    line-height:1rem;
	/*background: rgba(255,255,255,0.85);*/
	border: 1px solid silver;
	border-radius: 5px;
	box-shadow: 1px 1px 2px #888;
	padding: 4px;
    min-width:320px;
    width:auto;
    height:auto;
    overflow:auto;
    white-space:normal !important;
    margin-top:-15px !important;
}
#grafica1 .highcharts-tooltip>span .row{width:99% !important;}
.ft-title:hover{ color:#999 !important; }
.header .container-fluid{ background: linear-gradient(to left,#1792D6,#138FD4);}
.header {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background: linear-gradient(to left,#1792D6,#138FD4);
    
}
.header a{color:#FFFFFF;}
.pb-1, .py-1 {
    padding-bottom: 0.25rem !important;
}
.pt-1, .py-1 {
    padding-top: 0.25rem !important;
}
.heart {
    color: #eb5e28;
    animation: n 1s ease infinite;
}

.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 0.9375rem;
	/*line-height: 1.84615385;*/
	border-radius: 3px;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-default {border: 1px solid #ced4da;}
@media screen and (prefers-reduced-motion: reduce) {
	.btn {
		transition: none;
	}
}
.btn:hover, .btn:focus {
	text-decoration: none;
}
.btn:focus, .btn.focus {
	outline: 0;
	box-shadow: 0 0 0 2px rgba(194, 197, 199, 0.25);
}
.btn.disabled, .btn:disabled {
	opacity: 0.65;
}
.btn:not(:disabled):not(.disabled) {
	cursor: pointer;
}
.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
	background-image: none;
}
a.btn.disabled, fieldset:disabled a.btn {
	pointer-events: none;
}
.btn-outline-primary {
    color: #17B794;
    background-color: transparent;
    background-image: none;
    border-color: #17B794;
}.btn-outline-primary:hover {
	color: #fff;
	background-color: #17B794;
	border-color: #4eceb2;
}
.btn-outline-primary:focus, .btn-outline-primary.focus {
	box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.1);
}
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
	color: #17B794;
	background-color: transparent;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show>.btn-outline-primary.dropdown-toggle {
	color: #fff;
	background-color: #17B794;
	border-color: #17B794;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.1);
}
@keyframes n{0%{transform:scale(.75)}20%{transform:scale(1)}40%{transform:scale(.75)}60%{transform:scale(1)}80%{transform:scale(.75)}to{transform:scale(.75)}}
hr {
     margin-top: 0rem; }
.footer {
    background: #fff;
    border-top: 1px solid #eaeaea;
    font-size: 0.875rem;
    padding: 1.25rem 0;
    color: #898989;
}
.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}
.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}
.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}
.card .card-body p{ font-size:13px; }
.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}
img {
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}
.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}
.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.lds-ring {
  position: relative;
  width: 64px;
  height: 64px;
  margin: 100px auto;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #17B794;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #17B794 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ssg-wait-title{ margin-top:70px;}
.lds-ring{ margin:0 auto;  margin-top:30px;}
    .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #17B794;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #17B794 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.card-title {
    color: #3C4858;
    font-size: 1.3rem;
    line-height: 1.2;
    font-weight: 500;
}
.text-center {
    text-align: center !important;
}
.message-ssg-alert{ margin:0 auto; width:100%; height: auto;}
.nameFacebookPage{ position:relative; top:5px !important;}
.navbar-brand{ background-color:#FFF; padding:5px; border-bottom:1px solid #E6E6E6;}